body{
    padding-top: 25px;
}
.main{
    margin: auto;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    justify-content: center;
    max-width: 800px;
}

.pict{
    border: 2px solid gray;
    justify-content: center;
    border-radius: 20px;
    width: 80%;
    padding: 20px;
}
h1{
    text-align: center;
}