body{
    padding-top: 25px;
}
.main{
    margin: auto;
    width: 65%;
    font-size: 1.35vw;
}
h1{
    font-size: 4vw;
}
.container{
    /* background-color: beige; */
    flex: 2;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    /* align-items: center; */
}
.header {
    /* background-color: cadetblue; */
    display: flex;
    
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.header img{
    flex: 0.75;
    border-radius: 50%;
}