body{
    padding-top: 25px;
}
.main{
    margin: auto;
    /* width: 65%; */
    font-size: 20px;
    justify-content: center;
    max-width: 800px;
    /* background-color: antiquewhite; */
}

h1{
    font-size: 50px;
    text-align: center;
    
}

h1.hdr2{
    display: none;
}


.container{
    /* background-color: beige; */
    /* width: 400px; */
    display: flex;
    /* width: 400px; */
    /* flex-basis: 350px; */
    flex-grow: 1.25;
    flex-flow: column wrap;
    justify-content: center;
    /* max-height: 330px; */
    /* align-items: center; */
}
.container2{ /*container for my coordinates in desktop mode*/
    /* background-color: beige; */
    /* width: 400px; */
    
    display: flex;
    /* width: 400px; */
    /* flex-basis: 350px; */
    flex-grow: 1;
    flex-flow: column wrap;
    justify-content: center;
    color:gray ;
    align-content: center;
    text-align: center; 
    /* background-color: greenyellow; */
    font-size:16px;
    /* max-height: 200px; */
     
    /* align-items: center; */
}

.container3{
    /* coordinates in mobile mode */

}
.header {
    /* background-color: cadetblue; */
    display: flex;
    
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.header img{
    width: 240px;
    border-radius: 50%;
}
@media only screen and (min-width: 1246px){
    .container{
        flex-basis: 350px;
    }
    .container2{
        flex-basis: 350px;
    }
}
@media only screen and (max-width: 1246px) {
/* 1246 is when flex wrap is triggered */
h1.hdr{
    display:none
}
h1.hdr2{
    display: block;
}
.header{
    flex-direction: column-reverse;
    justify-content: center;
}
.container{
    flex-grow: 1;
    justify-content: start;
    display: block;
    height: auto;
}
.container2{
    justify-content: start;
    display: block;
    max-height: 350px;
    /* max-height: 325px;
    max-width: 400px; */
}
.main{
    width: 80%;
}
}
@media only screen and (max-width: 601px) {
    .main{
        width: 80%;
        font-size: 18px;
       
    }
    h1{
        font-size: 44px;
    }
    .container2{
        font-size: 14px;
    }
 
  }
.container:nth-of-type(1){

}